
- @aa = Hash[Point.organizer_selection(3).map{|b| ["#{b.number} #{b.name}",b.id]}] # TODO

- if params[:section] == "race" #|| params[:section].blank?   
  = semantic_form_for @crew do |f|
    = f.inputs do   
      = f.input :race, :as => :radio, :collection => @crew.race.regattum.races #TODO
    = f.actions do
      = f.action :submit, :as => :input
  = link_to "Avbryt", @crew

.application-section
  .legend
    %i
      Startplats
  - if params[:section] == "start" #|| params[:section].blank?
    .question
      = semantic_form_for @crew do |f|
        = f.inputs do   
          = f.input :point, :collection => @aa, :as => :radio, :label => ""        
        = f.actions do
          = f.action :submit, :as => :input
      = link_to "Avbryt", @crew    
  - else
    - unless @crew.point.blank?
      =@crew.point.number_name



- if params[:section] == "goal" # TODO view if not editing
  .application-section
    .legend
      %i  
        Målgång
    .question
      - if @crew.race.regattum.common_goal.blank?
        Samma som startplatsen#{raw(", " + @crew.point.number_name) unless @crew.point.blank?}.
      - else
        - if @crew.race.regattum.common_goal_only
          Gemensam målgång, #{@crew.race.regattum.common_goal.number_name}).
        - else 
          = semantic_form_for @crew do |f|
            = f.inputs do   
              = f.input :common_goal, :as => :radio, :collection => { "Vid start, #{@crew.point.number_name}" => false, "Gemensam, #{@crew.race.regattum.common_goal.number_name}" => true }, :label => ""            
            = f.actions do
              = f.action :submit, :as => :input
          = link_to "Avbryt", @crew        
        

.application-section
  .legend
    %i
      Båt:
  - if params[:section] == "boat" || params[:section].blank?
    .question
      = semantic_form_for @crew do |f|
        = f.inputs do   
          = f.input :boat, :label => ""
        = f.actions do
          = f.action :submit, :as => :input
      = link_to "Avbryt", @crew            
  - else
    -unless @crew.boat.blank?
      .content
        = @crew.boat.name
        %br
        Entypsbåt:
        = @crew.boat.boat_type
        %br
        Segelnummer:
        = @crew.boat.sail_number

- if params[:section] == "members" # TODO view if not editing
  .application-section
    .legend
      %i
        Besättning
    .question
      = semantic_form_for @crew do |f|
        = f.semantic_errors :state
        = f.inputs do   
          = f.input :persons, :include_blank => true
        = f.actions do
          = f.action :submit, :as => :input
      = link_to "Avbryt", @crew  

            
.application-section
  Samling efter seglingen
  %div
    Inga anmälda till middagen.



