%p#notice= notice

.application-doc
  .application-section{:class => "#{'finished' if @crew.race.present?}"}
    .legend
      %i
        Arrangör
    .content
      = @crew.race.regattum.organizer.name unless @crew.race.blank?

  .application-section{:class => "#{'finished' if @crew.race.present?}"}
    .legend
      %i
        Regatta
    .content
      = @crew.race.regattum.name unless @crew.race.blank?
      
  .application-section{:class => "#{'finished' if @crew.race.present?}"}
    .legend
      %i
        Segling
    .content
      Seglingsperiod: 
      = @crew.race.period unless @crew.race.blank?
      timmar
      %br 
      Start: 
      = @crew.race.description unless @crew.race.blank?
      - if @crew.race.regattum.races.count > 1
        .change
          = link_to 'Ändra', edit_crew_path(@crew, :section => :race)                

  .application-section{:class => "#{'finished' if @crew.point.present?}"}
    .legend
      %i
        Startplats
    - unless @crew.race.blank?
      - if @crew.point.blank?
        %div
        .change
          = link_to 'Välj', edit_crew_path(@crew, :section => :start)                
      - else
        %div
          =@crew.point.number_name
        .change
          = link_to 'Ändra', edit_crew_path(@crew, :section => :start)                

  - # Fix when this section is flagged finished
  .application-section{:class => "#{'finished' if @crew.point.present?}"}
    .legend
      %i  
        Målgång
    - unless @crew.race.blank?
      %div
      - unless @crew.race.blank?
        - if @crew.race.regattum.common_goal.blank?
          Samma som startplatsen#{raw(", " + @crew.point.number_name) unless @crew.point.blank?}.
        - else
          - if @crew.race.regattum.common_goal_only
            Gemensam målgång, #{@crew.race.regattum.common_goal.number_name}.
          - else 
            - if @crew.common_goal
              Gemensam målgång, #{@crew.race.regattum.common_goal.number_name}.
            - else
              Samma som startplatsen, #{@crew.point.number_name unless @crew.point.blank?}.         
            .change
              = link_to 'Ändra', edit_crew_path(@crew, :section => :goal)      
        
  .application-section{:class => "#{'finished' if @crew.boat.present?}"}
    .legend
      %i
        Båt
    -unless @crew.boat.blank?
      .content
        = @crew.boat.name
        %br
        Båttyp:
        = @crew.boat.boat_type
        %br
        (Entypsbåt med SRS-båtdatablad)
        %br
        Segelnummer:
        = @crew.boat.sail_number
    .change
      = link_to 'Ändra', edit_crew_path(@crew, :section => :boat)      
          
  .application-section{:class => "#{'finished' if @crew.persons.present?}"}
    .legend
      %i
        Besättning
    .content
      %ul
        - for person in @crew.persons
          %li
            = person.name 
    .change
      - if @crew.persons.count > 0 
        = link_to 'Ändra', edit_crew_path(@crew, :section => :members)      
      - else
        = link_to 'Lägg till', edit_crew_path(@crew, :section => :members)      
                  
  .application-section{:class => "finished"}
    .legend
      %i Efterarrangemang
    .content
      %p
        Samling i uthamnen Norrviken, Runmarö-Storön. Korvgrillning. Kom som du är.
      %p
      .change
        Ingen anmälan

  .application-section
    %p
      Status på anmälan: Inte skickad.
    %p
      Du kan komplettera anmälan efter att du skickat in den.
    = button_to "Skicka in anmälan", @crew, :method => :get
    %p
      = link_to 'Släng anmälan', @crew, :method => :delete, :data => { :confirm => 'Vill du slänga hela anmälan?' }
    %p
      Skapad: #{l(@crew.created_at)}
      %br

= link_to 'Lista alla', crews_path
