%p#notice= notice

.application-doc  
  .application-section{:id => "application-regatta"}
    - if @crew.race.blank?
      Välj regatta
    - unless 
      Regatta:
      %br
      = @crew.race.regattum.organizer.name
      %br
      = @crew.race.regattum.name
    .change
      = link_to 'Ändra', edit_crew_path(@crew)      
  
  .application-section
    Segling:
    %div
      - if @crew.race.blank?
        Välj segling
      - unless 
        Seglingsperiod: 
        = @crew.race.period
        timmar
        %br 
        Start: 
        = @crew.race.description
    .change
      = link_to 'Ändra', edit_crew_path(@crew)      

  .application-section
    Startplats:
    %div
    .change
      = link_to 'Ändra', edit_crew_path(@crew)            

  .application-section
    Målgång:
    %div
    .change
      = link_to 'Ändra', edit_crew_path(@crew)     
        
  .application-section
    Båt:
    -unless @crew.boat.blank?
      %div
        = @crew.boat.name
        %br
        = @crew.boat.boat_type
    .change
      = link_to 'Ändra', edit_crew_path(@crew)      
          
  .application-section
    Besättning
    %p
      Befälhavare:
      %br
      - person = @people.first
      = link_to "#{person.first_name} #{person.last_name}, #{person.email}", person 
    %p
      Gastar:
      %ul
        - for person in @people
          %li
            = link_to "#{person.first_name} #{person.last_name}, #{person.email}", person 
    .change
      = link_to 'Ändra', edit_crew_path(@crew)      
                  
  .application-section
    Samling efter seglingen
    .change
      = link_to 'Ändra', edit_crew_path(@crew)      
    
= link_to 'Edit', edit_crew_path(@crew)
\|
= link_to 'Back', crews_path
