%p#notice= notice

%p
  %b Nummer:
  = @point.number
%p
  %b Namn:
  = @point.name
%p
  %b Definition:
  = @point.definition
%p
  %b Latitud:
  = @point.lat
  %br
  = @point.lat_d
%p
  %b Longitud:
  = @point.long
  %br
  = @point.long_d
 
  
= link_to 'Edit', edit_point_path(@point)
\|
= link_to 'Back', points_path
