= semantic_form_for @person do |f|
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :birthday
    = f.input :email
    = f.input :mobile

  = f.actions do
    = f.action :submit, :as => :input
