%p#notice= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Birthday:
  = @person.birthday
%p
  %b Email:
  = @person.email
%p
  %b Mobile:
  = @person.mobile
%p
  %b Crews:
  %ul
  - for crew in @person.crews
    %li= crew.name


= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
