%p#notice= notice

.bread-crumb
  > 
  = link_to "Arrangörer", organizers_path
  >  
  = @organizer.name

- unless @organizer.contact_name.blank?
  %p
    Kontaktperson:
    = @organizer.contact_name

- unless @organizer.fk_org_code.blank?
  %p
    Arrangörskod i P&D-databasen (används som foreign key):
    = @organizer.fk_org_code

- unless @organizer.points.blank?
  %p
    Startpunkter:
  %ul
    - for start_point in @organizer.points.order('number ASC')
      %li
        = link_to "#{start_point.number} #{start_point.name}", start_point
    
- unless @regatta.blank?    
  %p
    Inplanerade regattor:
    %ul
      - for regattum in @regatta
        %li 
          = link_to regattum.name, regattum 
%p
  = link_to "Lägg till en regatta", new_regattum_path(:organizer_id => @organizer.id) 

%p
  = link_to "Redigera arrangören #{@organizer.name}", edit_organizer_path(@organizer)
%p
  = link_to "Radera arrangören #{@organizer.name}", @organizer, :method => :delete, :data => { :confirm => "Vill du verkligen radera #{@organizer.name} från systemet inklusive dess regattor, seglingar och anmälningar?" }