= semantic_form_for @regattum do |f|
  = f.inputs do
    = f.input :name
    = f.input :organizer_id, :as => :hidden
    - if @regattum.organizer.blank?
      = f.input :organizer
    - else
      = f.input :organizer, :input_html => { :disabled => true }
    = f.input :description
    = f.input :common_goal, :selection => Hash[Point.all.order('number ASC').map{|b| ["#{b.number} #{b.name}",b.id]}]     
    = f.input :common_goal_only
  = f.actions do
    = f.action :submit, :as => :input
