%h1 Listing regatta

%table
  %tr
    %th Name
    %th Organizer
    %th Description
    %th
    %th
    %th

  - @regatta.each do |regattum|
    %tr
      %td= link_to regattum.name, regattum
      %td= regattum.organizer.name
      %td= regattum.description
      %td= link_to 'Show', regattum
      %td= link_to 'Edit', edit_regattum_path(regattum)
      %td= link_to 'Destroy', regattum, :method => :delete, :data => { :confirm => 'Are you sure?' }

