%p#notice= notice

%h1 Alla regattor

%table
  %tr
    %th Namn
    %th Arrangör
    %th
    %th

  - @regatta.each do |regattum|
    %tr
      %td= link_to regattum.name, regattum
      %td= regattum.organizer.name unless regattum.organizer.blank?
      %td= link_to 'Edit', edit_regattum_path(regattum)
      %td= link_to 'Destroy', regattum, :method => :delete, :data => { :confirm => 'Are you sure?' }

