#notice= notice

=title "#{@regattum.name} < #{@regattum.organizer.name}"

.bread-crumb
  > 
  = link_to "Arrangörer", organizers_path
  >
  = link_to @regattum.organizer.name, @regattum.organizer
  >
  = @regattum.name


- unless @regattum.description.blank?
  %p
    = @regattum.description

%p
  Målgång:
  - if @regattum.common_goal.blank?
    vid startplatsen.
  - else
    = @regattum.common_goal.number
    = @regattum.common_goal.name
    - if @regattum.common_goal_only
      (endast).
    - else
      eller vid startplatsen.

%p
  Seglingar:
  %ul
    - for race in @races
      %li
        = link_to "#{race.period} timmar, #{race.description}", race
        
  %p
    = link_to "Lägg till en segling", new_race_path(:regattum_id => @regattum.id)      


%h2 Startlista
- for race in @regattum.races
  %h3= race.description + ' period: ' + race.period.to_s + ' timmar'
  %ol.crews
    - for crew in race.crews
      %li.crew
        .boat
          .boat_name
            = crew.boat.name unless crew.boat.blank?
          .boat_data  
            = crew.boat.boat_type unless crew.boat.blank?
            = crew.boat.sail_number unless crew.boat.blank?
            1,20
        %ol.members
          - for person in crew.persons 
            %li #{person.first_name} #{person.last_name}
        .administrative
          .start_goal
            = crew.point.number_name unless crew.point.blank?
            \- 
            = crew.goal.number_name unless crew.point.blank?
          .created_at
            = l crew.created_at
          .status
            Anmäld

        



%p
  = link_to "Redigera regattan #{@regattum.name}", edit_regattum_path(@regattum)
%p
  = link_to "Radera regattan #{@regattum.name}", @regattum, :method => :delete, :data => { :confirm => "Vill du verkligen radera #{@regattum.name} (inklusive seglingar och anmälningar)?" }